$green400: #15BF42;
$green450: #27D942;
$green500: #40ED47;
$green650: #4DED94;
$green850: #6AEDFA;
$green950: #78EDFF;
$bnw0: #000000;
$bnw50: #0d0d0d;
$bnw150: #242424;
$bnw550: #8c8c8c;
$bnw850: #dedede;
$bnw900: #ebebeb;
$bnw950: #f7f7f7;
$bnw1000: #ffffff;
$blue400: #1575bf;
$blue550: #44bbf6;
$blue600: #5bc6f8;
$blue650: #72d1fb;
$blue750: #a0e7ff;
$blue850: #cffdff;
$blue900: #e6ffff;
$blue950: #f8ffff;
$purple600: #9e6fc3;
$purple700: #b693d2;
$orange600: #FA4600;
$pin: #ee2f53;
