$green400: #96d100;
$green450: #a8eb00;
$green500: #c1ff05;
$green650: #ceff52;
$green850: #ebffb8;
$green950: #f9ffeb;
$bnw0: #000000;
$bnw50: #0d0d0d;
$bnw150: #242424;
$bnw550: #8c8c8c;
$bnw850: #dedede;
$bnw900: #ebebeb;
$bnw950: #f7f7f7;
$bnw1000: #ffffff;
$blue400: #0056b3;
$blue550: #2f9cea;
$blue600: #46a7ec;
$blue550: #2f9cea;
$blue650: #5db2ef;
$blue750: #8bc8f3;
$blue850: #badef7;
$blue900: #d1e9fa;
$blue950: #e3f2fc;
$purple600: #9e6fc3;
$purple700: #b693d2;
$orange600: #ff7f32;
