.btn-list {
  @extend %d-flex-wrap;
  @extend %d-flex-ai-center;
  gap: 12px;

  @media (max-width: 1023px) {
    gap: 8px;
  }
}

.btn-list__item {
  @extend %btn-default;
  padding: 12px 20px;
  border-radius: 100px;
  background-color: $bnw1000;
  transition: all 0.3s ease;

  @media (max-width: 1023px) {
    @include fs-lh(18px, 22px);
    padding: 8px 12px;
  }

  &:hover,
  &.is-active {
    background-color: $bnw950;//
  }
}
