@font-face {
  font-family: "Golos";
  font-weight: 400;
  src: url("/static/fonts/golos/golos-text_regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Golos";
  font-weight: 500;
  src: url("/static/fonts/golos/golos-text_medium.woff2")
    format("woff2");
}
