.info-card {
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  transition: all 0.3s ease;
  position: relative;

  @media (max-width: 991px) {
    padding: 20px;
  }

  &:hover,
  &.is-active {
    box-shadow: -4px 4px 16px rgba(0, 0, 0, 0.1);
  }
}

.info-card__header {
  @extend %d-flex-column;
  gap: 4px 0;
  margin: 0 0 4px;

  @media (max-width: 991px) {
    margin: 0 0 12px;
  }
}

.info-card__category {
  @include fs-lh(16px, 19.2px);
}

.info-card__caption {
  @include fs-lh(24px, 28.8px);
  font-weight: 500;
  display: block;
  letter-spacing: -1px;
}

.info-card__wrapper {
  @extend %d-flex-column;
  gap: 16px 0;

  @media (max-width: 991px) {
    margin: 0 0 16px;
  }

  &.info-card__wrapper_margin_bottom {
    margin: 0 0 16px;
  }

  &.info-card__wrapper_mb_none {
    @media (max-width: 991px) {
      margin-bottom: 0;
    }
  }
}

.info-card__item {
  &.info-card__item_type_row {
    @extend %d-flex-ai-center;
    gap: 0 14px;
  }

  &.info-card__item_type_title {
    @include fs-lh(24px, 26px);
    font-weight: 500;
    margin: 0 0 20px;
  }

  &.info-card__item_type_subtitle {
    letter-spacing: -1px;
    font-weight: 500;
  }

  &.info-card__item_fs_sm {
    @include fs-lh(20px, 24px);

    @media (max-width: 991px) {
      @include fs-lh(18px, 22px);
    }
  }

  &.info-card__item_fs_xs {
    @include fs-lh(16px, 19.2px);
  }

  &.info-card__item_fw_bold {
    font-weight: 500;
    line-height: 28px;

    @media (max-width: 991px) {
      line-height: 24px;
    }
  }

  &.info-card__item_color_primary {
    color: #46a7ec;
  }

  &.info-card__item_color_danger {
    color: #ff6f00;
  }
}

.info-card__work-time {
  letter-spacing: 1px;
}

.info-card__address {
  font-size: 20px;
  line-height: 24px !important;
  font-weight: 400 !important;

  &--mt-16 {
    margin-top: 16px;
  }
}

.info-card__times {
  @extend %d-flex-column;
  gap: 4px;
}

.info-card__item-toggler {
  @extend %btn-default;
  @extend %d-flex-ai-center;
  @extend %d-flex-column;
  display: none;
}

.info-card__footer {
  @extend %d-flex-column;
  @include mobileOnly;
  gap: 32px 0;
  margin: 0 0 24px;
  //animation: show 0.5s;

  &.is-hidden {
    @media (max-width: 991px) {
      display: none;
    }
  }
}

.info-card__content {
  @extend %d-flex-column;
  gap: 8px 0;
  margin: 0 0 16px;

  &--mt-16 {
    margin-top: 16px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.info-card__readmore {
  @extend %d-flex-ai-center;
  @include fs-lh(16px, 19px);
  color: #242424;
  text-decoration: none !important;
  gap: 10px;
  display: flex;
  letter-spacing: -1px;
  margin-top: 16px;

  svg {
    transform: rotate(180deg);
  }

  &:hover {
    color: #46a7ec;

    path {
      fill: #46a7ec;
    }
  }
}

.info-card__link {
  @extend %link-default;
  @extend %btn-default;

  &.info-card__link_type_btn {
    @extend %d-flex-ai-center;
    @include mobileOnly;
    @include fs-lh(18px, 20px);
    gap: 0 8px;
    margin: 0 0 24px;
  }

  &.is-active {
    .info-card__link-arrow {
      transform: rotateX(180deg);
    }
  }
}

.info-card__link-arrow {
  transition: all 0.3s ease;
}

.info-card__toggler {
  @include mobileOnly(block);
  @extend %btn-default;

  &:after {
    content: "";

    @media (max-width: 991px) {
      @include wh(100%);
      @include pos(0, 0);
      cursor: pointer;
    }
  }
}
