.map-controllers {
  @extend %d-flex-column;
  @extend %d-flex-centered;
  gap: 4px 0;
  position: absolute;
  right: 54px;
  bottom: 94px;
  z-index: 1;

  @media (max-width: 991px) {
    gap: 8px 0;
    top: 50%;
    bottom: auto;
    right: 20px;
    transform: translateY(-25%);
  }
}

.map-controllers__btn {
  @extend %btn-default;
  @extend %d-flex-column;
  @extend %d-flex-centered;
  @include wh(48px);
  @include fw(48px);
  border-radius: 50%;
  transition: all 0.3s ease;
  background-color: #fff;
  box-shadow: -4px 4px 16px 0 rgba(0, 0, 0, 0.1);

  @media (max-width: 991px) {
    @include wh(36px);
    @include fw(36px);
  }

  &:disabled {
    opacity: 0.45;
  }
}
