.map-location-toggler {
  @extend %btn-default;
  @extend %d-flex-ai-center;
  @include text-lg;
  gap: 0 12px;
  margin: 0 0 20px;
}

.map-location-toggler__icon {
  @include wh(18px);
  @include fw(18px);
  object-fit: cover;

  @media (max-width: 1023px) {
    @include wh(15px);
    @include fw(15px);
  }
}
