.map-section {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.map-section__container {
  height: 100%;
}

.map-cluster {
  @extend %d-flex-column;
  @extend %d-flex-centered;
  @include wh(50px);
  @include fs-lh(20px, 24px);
  font-weight: 400;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #96d100;
  color: #ffffff;
}
