.map-section {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.map-section__container {
  height: 100%;
}

.map-cluster {
  @extend %d-flex-column;
  @extend %d-flex-centered;
  @include wh(52px);
  @include fs-lh(20px, 24px);
  font-family: "Golos", sans-serif;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid $bnw1000;
  background-color: $green400;
  color: $bnw1000;

  &.map-cluster_type_point {
    border-color: $bnw150;
    background-color: $bnw1000;
    color: $bnw150;
  }
}
