.map-sidebar {
  @extend %d-flex-column;
  @include fw(496px);
  gap: 20px 0;
  padding: 24px 0 0;
  background-color: #f7f7f7;

  @media (max-width: 991px) {
    @include pos(0, 0, fixed);
    width: 100%;
    max-width: 100%;
    gap: 0;
    padding: 0;
    z-index: 1060;
    background-color: rgba(0,0,0,0);
  }

  &.map-sidebar_type_filter {
    .map-sidebar__header {
      @extend %d-flex-column;

      @media (min-width: 992px) {
        flex-grow: 1;
      }
    }

    .map-sidebar__section {
      @media (min-width: 992px) {
        display: none;
      }
    }

    .map-sidebar__wrapper {
      @media (min-width: 992px) {
        display: none;
      }
    }
  }

  &.is-fixed {
    @media (max-width: 991px) {
      bottom: 0;
    }
  }

  &.is-active {
    @media (max-width: 991px) {
      bottom: 0;
      z-index: unset;
    }
  }
}

.map-sidebar__header {
  @include zi(2);
  padding: 0 24px;

  @media (max-width: 991px) {
    padding: 16px;
    border-radius: 0 0 16px 16px;
    background-color: #f7f7f7;
    box-shadow: -4px 4px 16px rgba(0, 0, 0, 0.1);
  }
}

.map-sidebar__wrapper {
  @include zi(1);
  flex-grow: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease;

  @media (max-width: 991px) {
    background-color: #f7f7f7;
  }

  &.is-hidden {
    @media (max-width: 991px) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translate3d(0, 30px, 0);
      background-color: rgba(0, 0, 0, 0);
    }
  }
}

.map-sidebar__list {
  @extend %d-flex-column;
  @include wh(100%);
  @include pos(0, 0);
  gap: 16px 0;
  padding: 0 24px 24px;
  overflow-y: scroll;

  @media (max-width: 991px) {
    padding: 0 16px 16px;
  }
}

.map-sidebar__section {
  padding: 0 24px;

  @media (max-width:991px) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 44px;
    display: none;
    padding: 0 16px;
  }

  &.is-active {
    @media (max-width:991px) {
      display: block;
    }
  }
}

.map-sidebar__info {
  @extend %d-flex-ai-center;
  gap: 0 20px;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #BADEF8;
  background-color: #E3F2FC;

  @media (max-width:991px) {
    gap: 0 4px;
    padding: 16px 20px;
    align-items: flex-start;
    box-shadow: -4px 4px 16px 0 rgba(0, 0, 0, 0.1);
  }
}

.map-sidebar__qr {
  @include fw(66px);
  @include desktopOnly(block);
}

.map-sidebar__info-close {
  @extend %btn-default;
  @extend %d-flex-column;
  @extend %d-flex-centered;
  @include wh(12px);
  @include fw(12px);
  @include mobileOnly(flex);
}

.map-sidebar__desc {
  @media (max-width:991px) {
    @include fs-lh(18px,22px);
  }
}

.map-sidebar__link {
  @extend %link-default;
  text-decoration: underline;

  &.map-sidebar__link_type_btn {
    @extend %btn-default;
    @extend %d-flex-ai-center;
    @include fs-lh(20px,24px);
    gap: 0 24px;
    padding: 0 0 0 8px;
    justify-content: flex-start;
    text-decoration: none;
  }
}
