.map-overlay {
  @extend %d-flex-centered;
  @extend %d-flex-column;
  @include wh(100%);
  @include pos(0, 0, fixed);
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);

  &.map-overlay_type_holder {
    @media (max-width: 991px) {
      padding: 0;
      justify-content: flex-end;
    }

    .map-modal {
      @media (max-width: 991px) {
        border-radius: 16px 16px 0 0;
      }
    }
  }
}

.map-modal {
  display: none;
  align-items: flex-end;
  width: 100%;
  max-width: 520px;
  padding: 36px;
  border-radius: 16px;
  background-color: #f7f7f7;

  @media (max-width: 991px) {
    padding: 12px 16px 20px;
  }

  &.is-active {
    @extend %d-flex-column;
    animation: show 0.5s;
  }
}

.map-modal__close {
  @extend %btn-default;

  @media (max-width: 991px) {
    color: #8C8C8C;
    margin: 0 0 12px;
  }
}

.map-modal__header {
  @extend %d-flex-column;
  width: 100%;
  gap: 20px 0;
  margin: 0 0 36px;

  @media (max-width: 991px) {
    gap: 16px 0;
    margin: 0 0 20px;
  }
}

.map-modal__title {
  @include fs-lh(32px, 36px);
  font-weight: 500;

  @media (max-width: 991px) {
    @include fs-lh(28px, 1);
  }
}

.map-modal__subtitle {
  @include fs-lh(24px, 28px);
  font-weight: 500;
  margin: 0 0 20px;

  @media (max-width: 991px) {
    margin: 0 0 16px;
  }
}

.map-modal__wrapper {
  width: 100%;
}

.map-preloader {
  flex: 0 0 180px;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
