.map-wrapper {
    @include fs-lh(20px,24px);
    font-family: "Golos Text", sans-serif;
    color: #242424;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;

    @media (max-width:991px) {
      flex-direction: column;
    }
}
