.map-overlay {
  @extend %d-flex-centered;
  @extend %d-flex-column;
  @include wh(100%);
  @include pos(0, 0, fixed);
  padding: 40px 16px 16px;
  z-index: 1080;
  background-color: rgba(0, 0, 0, 0.5);

  &.map-overlay_type_holder {
    @media (max-width: 1023px) {
      padding: 40px 0 0;
      justify-content: flex-end;
    }

    .map-modal {
      @media (max-width: 1023px) {
        max-height: 100%;
        overflow-x: auto;
        border-radius: 16px 16px 0 0;
      }
    }
  }

  &.map-overlay_type_panel {
    .map-modal {
      @extend %d-flex-column;
      transition: all 0.3s ease;

      @media (max-width: 1023px) {
        max-height: 50%;
        overflow: hidden;
        padding: 16px 0 0;
      }

      &.is-hidden {
        @media (max-width: 1023px) {
          display: none;
        }
      }

      &.is-active {
        @media (max-width: 1023px) {
          max-height: 100%;
        }
      }
    }

    .map-modal__header {
      @media (max-width: 1023px) {
        @include offset(0 0 7px, 0 16px);
        display: flex;
        align-items: flex-end;
      }
    }

    .map-modal__wrapper {
      @media (max-width: 1023px) {
        padding: 9px 16px 20px;
        overflow-x: auto;
      }
    }
  }

  &.is-mobile-only {
    @include mobileOnly;
  }
}

.map-modal {
  display: none;
  align-items: flex-end;
  width: 100%;
  max-width: 520px;
  padding: 36px;
  border-radius: 16px;
  background-color: $bnw950;
  animation: show 0.5s;

  @media (max-width: 1023px) {
    padding: 18px 16px 20px;
  }

  &.map-modal_type_panel {
    @include before;

    &:before {
      @include pos(6px, 50%);
      @include wh(48px, 4px);
      transform: translateX(-50%);
      border-radius: 16px;
      background-color: darken($bnw950, 15%);
      display: none;
    }
  }

  &.is-active {
    @extend %d-flex-column;
  }
}

.map-modal__close {
  @extend %btn-default;
  @extend %d-flex-column;
  @extend %d-flex-centered;

  @media (max-width: 1023px) {
    @include wh(18px);
    @include fw(18px);
    color: $bnw150;
    margin: 0 0 18px;
  }

  &.map-modal__close_mb_none {
    margin-bottom: 0;
  }
}

.map-modal__header {
  @extend %d-flex-column;
  width: 100%;
  gap: 20px 0;
  margin: 0 0 36px;

  @media (max-width: 1023px) {
    gap: 16px 0;
    margin: 0 0 20px;
  }
}

.map-modal__title {
  @include fs-lh(32px, 36px);
  font-weight: 500;

  @media (max-width: 1023px) {
    @include fs-lh(28px, 1);
  }
}

.map-modal__subtitle {
  @include fs-lh(24px, 28px);
  font-weight: 500;
  margin: 0 0 20px;

  @media (max-width: 1023px) {
    margin: 0 0 16px;
  }
}

.map-modal__wrapper {
  width: 100%;

  &.map-modal__wrapper_type_column {
    @extend %d-flex-column;
    gap: 12px 0;
  }
}

.map-preloader {
  flex: 0 0 180px;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
