.map-filter-holder {
  @include zi(2);
  display: flex;
  gap: 0 12px;
  margin: 0 0 12px;

  @media (max-width: 991px) {
    gap: 0 8px;
    margin: 0 0 8px;
    border-radius: 12px;
  }

  &.is-active {
    @media (min-width: 992px) {
      flex-grow: 1;
    }
  }
}

.map-filter {
  @include fw(68px);
  @include wh(68px);
  @extend %d-flex-column;

  @media (max-width: 991px) {
    @include fw(54px);
    @include wh(54px);
  }
}

.map-filter__toggler {
  @extend %btn-default;
  @extend %d-flex-centered;
  @extend %d-flex-column;
  flex-grow: 1;
  border-radius: 16px;
  background-color: #fff;

  @media (max-width: 991px) {
    border-radius: 12px;
  }
}

.map-filter__dropdown {
  display: none;
}

.map-filter-btn {
  @extend %btn-default;
  @extend %link-default;
  @extend %d-flex-centered;
  @extend %d-flex-column;
  @include fs-lh(24px, 20px);
  font-weight: 500;
  font-family: "Golos Text", sans-serif;
  width: 100%;
  padding: 20px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  border-radius: 100px;
  background-color: #c1ff05;

  @media (max-width: 991px) {
    @include fs-lh(20px, 16px);
    padding: 16px;
  }

  &:disabled {
    opacity: 0.75;
    cursor: default;
  }
}
