.map-dropdown {
  @include pos(100%, 0);
  width: 100%;
  margin: 4px 0 0;

  &.map-dropdown_type_filter {
    margin: 8px 0 0;

    @media (max-width:991px) {
      @include pos(auto, 0, fixed);
      bottom: 0;
    }

    &:before {
      content: '';
      display: none;
      //pointer-events: none;

      @media (max-width:991px) {
        @include wh(100%);
        @include pos(0,0,fixed);
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    &.is-active {
      &:before {
        display: block;
        animation: show 0.5s;
      }
    }

    .map-dropdown__wrapper {
      gap: 0;
      padding: 20px;
      align-items: flex-end;

      @media (max-width:991px) {
        @include zi(2);
        padding: 16px;
        border-radius: 16px 16px 0 0;
        background-color: #f7f7f7;
      }
    }
  }

  &.map-dropdown_type_search {
    @media (max-width:991px) {
      width: auto;
      left: -18px;
      right: -18px;
      margin: 2px 0 0;
    }

    .map-dropdown__wrapper {
      @media (max-width:991px) {
        padding: 10px 0;
        border-radius: 0 0 16px 16px;
        background-color: #f7f7f7;
      }
    }
  }

  &.map-dropdown_type_panel {
    &.is-active {
      @media (max-width:991px) {
        top: 40px;
        margin-top: 0;
      }
    }

    .map-dropdown__wrapper {
      @media (max-width:991px) {
        max-height: unset;
      }
    }
  }
}

.map-dropdown__icon {
  @include fw(16px);
}

.map-dropdown__caption {
  text-align: left;
}

.map-dropdown__wrapper {
  display: none;
  gap: 8px 0;
  padding: 8px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: -4px 4px 16px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &.is-active {
    @extend %d-flex-column;
    animation: show 0.5s;
  }

  &.map-dropdown__wrapper_height_min {
    @include py(16px);
    height: 100%;
    max-height: 360px;
    overflow-y: auto;
  }
}

.map-dropdown__close {
  @extend %btn-default;
  @extend %d-flex-column;
  color: #0D0D0D;

  @media (max-width:991px) {
    color: #8C8C8C;
  }
}

.map-dropdown__section {
  width: 100%;
  margin: 0 0 20px;
}

.map-dropdown__title {
  @include fs-lh(24px,28px);
  width: 100%;
  font-weight: 500;
  margin: 0 0 16px;

  @media (max-width:991px) {
    @include fs-lh(20px,24px);
  }

  &.is-mobile-only {
    @include mobileOnly(block);
  }
}

.map-dropdown__list {
  @extend %d-flex-column;
  width: 100%;
  gap: 12px 0;
  margin: 0 0 20px;

  &.map-dropdown__list_mb_min {
    margin: 0 0 8px;
  }
}

.map-dropdown__desc {
  @extend %d-flex-column;
  @include fs-lh(16px,18px);
  gap: 8px 0;
  padding: 12px;
  border-radius: 16px;
  background-color: #f7f7f7;

  @media (max-width:991px) {
    gap: 4px 0;
    background-color: #fff;
  }
}

.map-dropdown__desc-caption {
  display: inline-block;
  margin: 0 6px 0 0;
}

.map-dropdown__desc-value {
  display: inline;
  color: #8c8c8c;
}

.map-dropdown__toggler {
  @extend %btn-default;
  padding: 16px;
  border-radius: 8px;
  text-align: left;

  @media (max-width: 991px) {
    @include fs-lh(18px,22px);
    padding: 12px;
  }

  &:hover,
  &.is-active {
    background-color: #e3f2fc;
  }
}

.map-dropdown__item {
  @extend %btn-default;
  @extend %d-flex-ai-center;
  gap: 0 16px;
  padding: 12px 16px;
  color: #0d0d0d;

  @media (max-width:991px) {
    @include fs-lh(18px,22px);
    padding: 10px 28px;
  }

  &:hover {
    color: #46a7ec;
    transition: all 0.3s ease;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
